<div class="card">
    <div class="card-header">
        Autor
    </div>
    <div class="p-4">
        <table class="table alingn-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </thead>
            <tbody>
                <!-- <tr *ngFor="curso in cursos">
                    <td scope="row">{{curso.id}}</td>
                    <td scope="row" class="p-2">{{curso.nombre}}</td>
                    <td scope="row" class="p-2">{{curso.fecha_inicio_curso}}</td>
                    <td scope="row" class="p-2">{{curso.fecha_final_curso}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="1">Eliminar</button>
                        <button type="button" class="btn btn-primary btn-sm" (click)="1">Actualizar</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>