<div class="card border-dark">
    <div class="modal-header border-dark">
        <h3 *ngIf="!curso" modal-title>Ingresar datos</h3>
        <h3 *ngIf="curso" modal-title>Actualizar los datos</h3> 
        <div *ngIf="curso">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close" (click)="closeModal()"></button>
        </div>
    </div>
    <form action="" class="p-4" [formGroup]="form" (ngSubmit)="save()">
        <div class="mb-3">
            <label class="form-label">Nombre: </label>
            <input type="text" class="form-control" formControlName="nombre" autofocus>
        </div>
        <div class="mb-4">
            <label class="form-label">Fecha de inicio: </label>
            <input type="date" class="form-control" formControlName="fecha_inicio_curso" autofocus>
        </div>
        <div class="mb-4">
            <label class="form-label">Fecha Final: </label>
            <input type="date" class="form-control" formControlName="fecha_final_curso" autofocus>
        </div>
        <div class="col-12 text-right d-grid">
            <button class="btn btn-dark" type="submit">Enviar</button>
        </div>
    </form>
</div>