<div class="card">
    <div class="card-header">
        Ingresar datos
    </div>
    <form action="" class="p-4" method="POST">
        <div class="mb-3">
            <label class="form-label">Nombre: </label>
            <input type="text" class="form-control" [formControl]="nombreCurso" autofocus>
        </div>
        <div class="mb-4">
            <label class="form-label">Fecha de inicio: </label>
            <input type="text" class="form-control" [formControl]="fecha_inicio_cursoCurso" autofocus>
        </div>
        <div class="mb-4">
            <label class="form-label">Fecha Final: </label>
            <input type="text" class="form-control" [formControl]="fecha_final_cursoCurso" autofocus>
        </div>
        <div class="col-12 text-right d-grid">
            <button class="btn btn-dark" (click)="1">Enviar</button>
        </div>
    </form>
</div>